/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #FAFAFA;
}

/* Containers */
#main-container{
    display: flex;
    margin-top: 30px;
}

#banner-container,
#form-container{
    flex: 1 1 0;
    width: 50%;
}

#banner-container{
    text-align: right;
}

#banner-container img{
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}

#form-container{
    text-align: center;
}

/* Login form */
#form-box{
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 30px;
}

#logo-insta{
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#login-form{
    margin-top: 20px;
}

#login-form input{
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"]{
    background-color: #B2DFFC;
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/* Separator */
.separator{
    position: relative;
}

.separator span{
    color: #BBB;
    background-color: #FFF;
    position: absolute;
    right: 50%;
    top: -6px;
    width: 50px;
    text-transform: uppercase;
    margin-right: -25px;
    font-size: 14px;
}

.line{
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px;
}

/* Facebook login */
#facebook-login{
    margin-top: 25px;
}

#facebook-login a{
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook-login img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebook-login span{
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

/* Forgot password */
#forgot-pass{
    margin: 20px 0;
    font-size: 12px;
}

#forgot-pass a{
    text-decoration: none;
    color: #373799;
}

/* Register */
#register-container{
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
}

#register-container p{
    font-size: 14px;
    color: #262626;
}

#register-container a{
    color: #4a95f6;
    font-weight: bold;
    text-decoration: none;
}

/* Get app */
#get-app-container{
    text-align: center;
    width: 350px;
}

#get-app-container p{
    margin: 20px 0;
    font-size: 13px;
}

#get-app-container a{
    text-decoration: none;
}

#get-app-container img{
    width: 136px;
    height: 40px;
}

/* Footer */
footer{
    text-align: left;
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer #footer-links{
    display: flex;
    list-style: none;
}

#footer-links li{
    margin-right: 10px;
}

#footer-links a,
#copyright{
    text-decoration: none;
    color: #8e8e8e;
    font-size: 12px;
}

#copyright{
    margin-top: 10px;
}

/* Mobile */
@media(max-width: 800px){

    body{
        background-color: #FFF;
    }

    #banner-container{
        display: none;
    }

    #main-container,
    #form-box{
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-container,
    #get-app-container{
        width: 100%;
        border: none;
    }

    footer{
        width: 90%;
    }

    #footer-links{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
}