/* Class 1 */
body{
    padding-bottom: 500px;
}

.flex{
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* Class 2 */
.flex-column{
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Class 3 */
.wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box{
    height: 45px;
    width: 33%;
    border: 1px solid red;
}

/* Class 4 */
.center,
.space-around,
.space-between,
.end{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box{
    width: 50px;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.end{
    justify-content: end;
}

/* Class 5 */
.align-center,
.flex-end,
.stretch{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid blue;
}

.align-center .box,
.flex-end .box,
.stretch .box{
    width: 50px;
}

.align-center{
    align-items: center;
}

.flex-end{
    align-items: flex-end;
}

.stretch{
    align-items: stretch;
}

/* Class 6 */
.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .box{
    width: 32%;
}

/* Class 7 */
.order{
    display: flex;
}

#one{
    order: 1;
}

#two{
    order: 2;
}

#three{
    order: 3;
}

/* Class 8 */
.grow{
    display: flex;
}

.grow .box{
    flex: 1;
}

.grow .big{
    flex: 2;
}

/* Class 9 */
.basis{
    display: flex;
}

.basis .box{
    flex-basis: 20px;
}

.basis .big{
    flex-grow: 1;
}

/* Class 10 */
.shrink{
    display: flex;
}

.shrink .box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small{
    flex-shrink: 2;
}

/* Class 11 */
.shorthand{
    display: flex;
}

.shorthand .box{
    flex: 1 1 50px;
    width: auto;
}

.shorthand .different{
    flex: 3 1 400px;
    width: auto;
}

/* Class 12 */
.auto-aligment{
    height: 300px;
    display: flex;
    align-items: flex-end;
    border: 1px solid red;
}

.auto-aligment .different{
    align-self: center;
}